/* reset css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(185, 75%, 39%);
  font-family: "Kumbh Sans", sans-serif;
}

.c1,
.c2 {
  position: fixed;
  z-index: -1;
}

.c1 {
  right: 50%;
  bottom: 43%;
}

.c2 {
  top: 50%;
  left: 50%;
}

.gray-text {
  color: hsl(0, 0%, 59%);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 20px;
}

.card {
  width: 100%;
  max-width: 350px;
  text-align: center;
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
}

.avatar-img {
  margin-top: -57px;
  margin-bottom: 20px;
  border-radius: 50%;
  border: 5px solid white;
}

.name {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

.age {
  font-weight: 400;
  margin-left: 5px;
}

.city {
  margin-bottom: 28px;
}

.social-stats {
  display: flex;
  justify-content: space-evenly;
  padding: 25px 0;
  border-top: 1px solid hsl(0, 0%, 90%);
}

.stat-number {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.stat-title {
  font-size: 12px;
  letter-spacing: 1.5px;
}
